@import "/home/sergey/Desktop/telegram/css/fonts_new.scss";
@import "/home/sergey/Desktop/telegram/css/util/media_new.scss";
@import "/home/sergey/Desktop/telegram/css/util/interface";


@mixin p(){
  @include border();
  margin: 1vw 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
  box-sizing: border-box;
  padding: 2vw;
  text-align: center;
}

@mixin border() {
  width: 100%;
  box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
  box-sizing: border-box;
  padding: 0.25vw;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align-last:center;

}

section#post-promise{
  display: flex;
  box-sizing: border-box;
  @include display(column, nowrap, space-evenly, center, stretch);
  @include border();
  p{
    @include p();
  }
  padding: 5vw;

  figure {
    @include display(column, nowrap, space-evenly, center, stretch);
    margin: 0;
    img {
      border: 0.3vw solid #8b8e4b; /* Параметры рамки */
      box-sizing: border-box;
      padding: 1vw;
    }
    div {
      margin-bottom: 0; /* Отступ снизу */
      @include fonts(8);
      font-family: Roboto,serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
      box-sizing: border-box;
      padding: 2vw;
      text-align: center;
    }
    figcaption{
      @include p();
    }
  }
}


