@import "/home/sergey/Desktop/telegram/css/fonts_new.scss";
@import "/home/sergey/Desktop/telegram/css/util/media_new.scss";
@import "/home/sergey/Desktop/telegram/css/util/interface";


@mixin p(){
  @include border();
  margin: 1vw 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
  box-sizing: border-box;
  padding: 2vw;
  text-align: center;
}

@mixin border() {
  width: 100%;
  box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
  box-sizing: border-box;
  padding: 0.25vw;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align-last:center;
}
:host{
  width: 44vw;
  margin: auto;
  margin-bottom: 3vw;
}
section#post-office{
  @include border();
  margin: 1vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100%;

  div.post-office{
    display: flex;
    width: max-content;
    margin: auto;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    padding: 1vw;
    height: 100%;
    margin-bottom: 1vw;
    box-shadow: inset 0vw 0.1vw 0vw 0px #7694f4;
    border-bottom: none;
    iframe{
      margin-bottom: 1vw;

    }
  }

  p{
    @include p();
    width: 60%;
    margin: auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }
  hr{
    box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
    height: 0.3vw;
    width: 102%;
  }
}

